.advantages-sub-list {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 22px;
  list-style-type: none;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 23px 20px 52px;
  width: 100%;
}

.advantages-sub-list__item {
  margin-left: 32px;
}

.advantages-sub-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 16px;
}

.advantages-sub-list__text {
  color: @light-black;
  margin: 0;
}
