.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  width: 320px;
  margin: 0 auto;
}

.page__main {
  flex-grow: 1;
}
